<div class="order-history-container">
  <h2>Order History</h2>

  <ag-grid-angular
    style="height: 300px"
    class="ag-theme-quartz"
    [rowData]="orders"
    [columnDefs]="colDefs"
    (rowClicked)="navigateToOrderDetails($event.data.iOrderNumber)"
  >
  </ag-grid-angular>
  <mat-paginator
    #paginator
    [length]="length"
    (page)="handlePageEvent($event)"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
    [pageSizeOptions]="pageSizeOptions"
  >
  </mat-paginator>

  <div *ngIf="orders.length === 0">No orders found.</div>
</div>
