body {
  margin-top: 20px;
  background: #eee;
}
.ui-w-40 {
  width: 120px !important;
  height: 100px;
}

.card {
  box-shadow: 0 1px 15px 1px rgba(52, 40, 104, 0.08);
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: 0.144em;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  vertical-align: middle;
}
@media screen and (min-width: 1200px) {
  .cart-container {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: 48px auto 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    &__empty {
      margin: 0;
      padding-top: 40px;
      flex-grow: 1;
      border: none;
    }
    &__list {
      border: none;
    }
    &__total {
      width: 350px;
      padding: 0 16px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      .price {
        width: 100%;
        display: flex;
        padding: 16px 0;
        > h3 {
          font-size: 1.25rem;
        }
      }
      .cta {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        > button {
          height: 48px;
          width: 100%;
          margin-bottom: 12px;
        }
      }
    }
  }
}
