<div class="container px-3 my-5 clearfix">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Shopping Cart</h2>
    </div>
    <div class="card-body">
      <div *ngIf="cartItems.length === 0" class="alert alert-info" role="alert">
        Your cart is empty.
      </div>
      <div class="table-responsive" *ngIf="cartItems.length > 0">
        <table class="table table-bordered m-0">
          <thead>
            <tr>
              <th class="text-center py-3 px-4" style="min-width: 400px">
                Product Name &amp; Details
              </th>
              <th class="text-end py-3 px-4" style="width: 100px">Price</th>
              <th class="text-center py-3 px-4" style="width: 120px">
                Quantity
              </th>
              <th class="text-end py-3 px-4" style="width: 100px">Total</th>
              <th
                class="text-center align-middle py-3 px-0"
                style="width: 40px"
              >
                <a
                  href="#"
                  class="shop-tooltip float-none text-light"
                  title=""
                  data-original-title="Clear cart"
                  ><i class="ino ion-md-trash"></i
                ></a>
              </th>
            </tr>
          </thead>
          <tbody>
            @for (item of cartItems; track $index) {

            <tr>
              <td class="p-4">
                <div class="media align-items-center">
                  <img
                    [src]="item.image"
                    class="d-block ui-w-40 ui-bordered mr-4 rounded-1 mb-2"
                    alt=""
                  />
                  <div class="media-body">
                    {{ item.title }}
                  </div>
                </div>
              </td>
              <td class="text-end font-weight-semibold align-middle p-4">
                {{ item.price | currency : "USD" }}
              </td>
              <td class="align-middle p-4">
                <input
                  type="number"
                  minlength="1"
                  class="form-control"
                  [(ngModel)]="item.iQty"
                  (change)="updateQuantity(item.id, item.iQty)"
                />
              </td>
              <td class="text-end font-weight-semibold align-middle p-4">
                {{ item.iQty * item.price | currency : "USD" }}
              </td>
              <td class="text-center align-middle px-0">
                <a
                  (click)="removeItem(item.id, 0)"
                  class="shop-tooltip close float-none text-danger fs-4 text-decoration-none"
                  title=""
                  data-original-title="Remove"
                  >X</a
                >
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <div
        class="d-flex flex-wrap justify-content-between align-items-center pb-4"
      >
        <div
          class="d-flex text-end"
          style="margin-left: 92%"
          *ngIf="cartItems.length > 0"
        >
          <div class="mt-4">
            <label class="text-muted font-weight-normal m-0">Total price</label>
            <div class="text-large">
              <strong>{{ calculateFinalTotal() | currency : "USD" }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="float-end">
        <button
          type="button"
          routerLink="/"
          class="btn btn-lg btn-outline-secondary md-btn-flat mt-2 me-3"
        >
          Continue Shopping
        </button>
        <button
          type="button"
          class="btn btn-lg btn-outline-primary mt-2"
          routerLink="/newcheckout"
          [state]="{ data: yourDataToSend }"
          [disabled]="cartItems.length === 0"
          *ngIf="cartItems.length > 0"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
