<div class="profile-container">
  <div class="form-container">
    <h2>Profile</h2>

    <nz-alert
      [nzType]="alertType"
      nzShowIcon
      [nzMessage]="alertMessage"
      [ngStyle]="{ marginBottom: '12px' }"
      *ngIf="alertVisible"
    ></nz-alert>
    
    <form (ngSubmit)="onSubmit()">
      <div class="card-body">
      <div class="input-container" *ngFor="let field of user">
        <label for="field.key">{{ field.label }}</label>
        <input
          nz-input
          [name]="field.key"
          [type]="field.type"
          [(value)]="field.value"
          [(ngModel)]="field.value"
        />
      </div>
      <div class="col-12 mx-auto m-2">
        <button
          class="btn btn-outline-primary w-100 "
          type="submit" >
          Update
        </button>
      </div>
      </div>
    </form>
    </div>
</div>
